{% extends "template.html"%}



{% block main_container %}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid d-flex justify-content-center">
        <form class="d-flex" role="search">
            <select class="form-select me-2 text-center" aria-label="지역 선택" style="width: 300px;">
                <option selected>지역 선택</option>
                <option value="서울">서울특별시</option>
                <option value="부산">부산광역시</option>
                <option value="대구">대구광역시</option>
                <option value="인천">인천광역시</option>
                <option value="광주">광주광역시</option>
                <option value="대전">대전광역시</option>
                <option value="울산">울산광역시</option>
                <option value="세종">세종특별자치시</option>
                <option value="경기">경기도</option>
                <option value="강원">강원특별자치도</option>
                <option value="충북">충청북도</option>
                <option value="충남">충청남도</option>
                <option value="경북">경상북도</option>
                <option value="경남">경상남도</option>
                <option value="전북">전북특별자치도</option>
                <option value="전남">전라남도</option>
                <option value="제주">제주특별자치도</option>
            </select>
        </form>
    </div>
</nav>
<hr>
<h2 class="text-center">데이터 현황 차트</h2>
<hr>
<div class="">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th style="width: 500px;">"아래에 제시된 데이터는 2020년 1월부터 2023년 12월까지의 평균 값을 반영하고 있습니다."</th>
            </tr>
        </thead>
        </tbody>
    </table>
</div>
<div class="p-4 p-md-5 mb-4 rounded text-body-emphasis">
    <div class="col-lg-12 px-0">
        <div class="container" id="visitorChart"></div>
    </div>
</div>
<div class="row mb-2 ">
    <div class="col-md-6 mb-3">
        <div class="border bg-body-secondary">
            <div class="col c-12">
                <h3 class="text-center">월별 관광 소비 추이 - 꺾은선형</h3>
            </div>
            <div class="col-auto d-lg-block" style="width:200px; height:200px;">
            </div>
        </div>month_trend_Chart
    </div>
    <div class="col-md-6 mb-3">
        <div class="border bg-body-secondary">
            <div class="col c-12">
                <div class="container" id="month_trend_Chart"></div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="border bg-body-secondary">
            <div class="col c-12">
                <h3 class="text-center">관광소비 유형</h3>
            </div>
            <div class="col-auto d-lg-block" style="width:200px; height:200px;">
            </div>
        </div>
    </div>
    <div class="col-md-6 mb-3">
        <div class="border">
            <div class="col c-12">
                <div class="container" id="barchart"></div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        // Load the Visualization API and the corechart package.
        google.charts.load('current', { 'packages': ['corechart'] });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            // chart 사용 종류 지정
            // data, chart 종류, option(꾸미기)
            var dict_concept = JSON.parse('{{ dict_concept | tojson | safe }}');
            // const values = Object.values(dict_visitor)
            // const maxValue = Math.max(...values);
            // const minValue = Math.min(...values);
            /////////////////// 월별 방문객 수 ///////////////////////////////////////////
            var dict_visitor = JSON.parse('{{ dict_visitor | tojson | safe }}');
            let visitorData = new google.visualization.DataTable();
            visitorData.addColumn('string', 'X');
            visitorData.addColumn('number', '방문자');

            visitorData.addRows([
                ['1월', dict_visitor['1']],
                ['2월', dict_visitor['2']],
                ['3월', dict_visitor['3']],
                ['4월', dict_visitor['4']],
                ['5월', dict_visitor['5']],
                ['6월', dict_visitor['6']],
                ['7월', dict_visitor['7']],
                ['8월', dict_visitor['8']],
                ['9월', dict_visitor['9']],
                ['10월', dict_visitor['10']],
                ['11월', dict_visitor['11']],
                ['12월', dict_visitor['12']]
            ]);
            let visitorOptions = {
                legend: { position: 'none' },
                title: '                  월별 방문객 수',
                titleTextStyle: {
                    fontSize: 30,
                    textAlign: 'center'
                },
                pointSize: 5,
                vAxis: {
                    title: '방문객 수(만 명 )'
                },
                'width': 1000,
                'height': 500,
            };
            let visitorchart = new google.visualization.LineChart(document.querySelector('#visitorChart'));
            visitorchart.draw(visitorData, visitorOptions);

            ////////////////////////////////////유형별 목적지 검색량 //////////////////////////////////
            var dict_concept = JSON.parse('{{ dict_concept | tojson | safe }}');
            let conceptdata = new google.visualization.DataTable();
            conceptdata.addColumn('string', 'concept');
            conceptdata.addColumn('number', 'visitor');
            conceptdata.addRows(
                [['숙박', dict_concept['숙박']], ['음식', dict_concept['음식']], ['기타관광', dict_concept['기타관광']], ['쇼핑', dict_concept['쇼핑']], ['문화관광', dict_concept['문화관광']], ['역사관광', dict_concept['역사관광']], ['자연관광', dict_concept['자연관광']], ['체험관광', dict_concept['체험관광']], ['레저스포츠', dict_concept['레저스포츠']]]
            );

            // Set chart options
            var conceptoptions = {
                legend: { position: 'none' },
                title: '유형별 목적지 검색량',
                titleTextStyle: {
                    fontSize: 30,    // 제목의 글꼴 크기
                },
                'width': 480,
                'height': 500,
            };

            // Instantiate and draw our chart, passing in some options.
            var conceptchart = new google.visualization.BarChart(document.querySelector('#conceptchart'));
            conceptchart.draw(conceptdata, conceptoptions);
        }
        ////////////////////////////////////월별 키워드 검색량 //////////////////////////////////
        var list_month_trend = JSON.parse('{{ list_month_trend | tojson | safe }}');
        let month_trend_data = new google.visualization.DataTable();
        month_trend_data.addColumn('string', 'X');
        month_trend_data.addColumn('number', '방문자');

        month_trend_data.addRows([
            ['1월', dict_visitor['1']],
            ['2월', dict_visitor['2']],
            ['3월', dict_visitor['3']],
            ['4월', dict_visitor['4']],
            ['5월', dict_visitor['5']],
            ['6월', dict_visitor['6']],
            ['7월', dict_visitor['7']],
            ['8월', dict_visitor['8']],
            ['9월', dict_visitor['9']],
            ['10월', dict_visitor['10']],
            ['11월', dict_visitor['11']],
            ['12월', dict_visitor['12']]
        ]);
        let month_trend_option = {
            legend: { position: 'none' },
            title: '                  월별 방문객 수',
            titleTextStyle: {
                fontSize: 30,
                textAlign: 'center'
            },
            pointSize: 5,
            vAxis: {
                title: '방문객 수(만 명 )'
            },
            'width': 1000,
            'height': 500,
        };
        let month_trend_chart = new google.visualization.LineChart(document.querySelector('#month_trend_Chart'));
        month_trend_chart.draw(month_trend_data, month_trend_option);

    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

    {% endblock %}