{% extends "template.html" %}

{% block main_container %}

<title>1대1 문의</title>
<style>
    /* 기존 스타일 */
    .collapsible {
        background-color: #f9f9f9;
        color: black;
        cursor: pointer;
        padding: 18px;
        width: 80%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        margin-top: 10px;
    }

    .active,
    .collapsible:hover {
        background-color: #e6e6e6;
    }

    .collapsible:after {
        content: '\02795'; /* + 표시 */
        font-size: 13px;
        color: black;
        float: right;
        margin-left: 5px;
    }

    .active:after {
        content: "\2796"; /* - 표시 */
    }

    .content {
        transition: max-height 0.2s ease-out;
        background-color: #f1f1f1;
        overflow: hidden;
        max-height: 0;
        padding: 0 18px;
    }

    th,
    td {
        word-wrap: break-word;
    }

    .qna-title {
        max-width: 60%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .form-container {
        display: none; /* 초기 상태를 숨김으로 설정 */
        padding: 20px 0;
    }

    .show {
        display: block; /* 내용 보여줄 때 사용 */
    }
</style>
</head>

<body>
    <h1 class="mt-5 mb-4 text-center">1대1 문의</h1>

    <div class="container my-3">
        <table class="table">
            <thead class="table-light rounded-corners">
                <tr>
                    <th colspan="3">
                        <div class="text-end">
                            <a href="/consult/one_on_one_CS" class="btn btn-primary">글 작성</a>
                        </div>
                    </th>
                </tr>
            </thead>
            <thead class="table-primary rounded-corners">
                <tr>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성날짜</th>
                </tr>
            </thead>
            <tbody>
                {% for qna in qnas %}
                <tr>
                    <td class="collapsible" value="{{qna.password}}">{{ qna.title }}</td>
                    <td>{{ qna.userName }}</td>
                    <td>{{ qna.date }}</td>
                </tr>
                <tr>
                    <td colspan="3" style="padding:0;">
                        <div class="content">
                            <div class="form-container">
                                <div>{{qna.inquiryContent}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="3">등록된 문의가 없습니다.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <script>
            $(document).ready(function () {
                $('body').on('click', '.collapsible', function () {
                    var content = $(this).closest('tr').next('tr').find('.content');
                    var formContainer = content.find('.form-container');

                    // 게시글 내용이 이미 표시된 상태라면, 비밀번호를 다시 묻지 않고 내용을 토글합니다.
                    if (formContainer.hasClass("show")) {
                        formContainer.toggleClass("show");
                        content.css('max-height', formContainer.hasClass("show") ? content.prop('scrollHeight') + 'px' : 0);
                        $(this).toggleClass("active");
                    } else { // 내용을 처음 보려고 할 때만 비밀번호를 요구합니다.
                        var user_password = $(this).attr('value');
                        var password = prompt("비밀번호 4자리를 입력하세요.");
                        if (password == user_password) {
                            formContainer.toggleClass("show");
                            content.css('max-height', formContainer.hasClass("show") ? content.prop('scrollHeight') + 'px' : 0);
                            $(this).toggleClass("active");
                        } else {
                            alert("비밀번호가 틀렸습니다.");
                        }
                    }
                });
            });
        </script>
    </div>
</body>

</html>
{% endblock %}
