{% extends "template.html" %}


{% block main_container %}
<h1 class="mt-5 mb-4 text-center">공지 사항</h1>
<div ckass="container my-3">
    <table class="table">
        <thead class="table-light rounded-corners">
            <tr>
                <th colspan="4">
                    <div class="text-end">
                        <a href="/consult/user_notice" class="btn btn-primary">글 작성</a>
                    </div>
                </th>
            </tr>
        </thead>
        <thead class="table-primary rounded-corners">
            <tr>
            <th>번호</th>
            <th>제목</th>
            <th>작성자</th>
            <th>작성날짜</th>
            </tr>
        </thead>
            {% for notice in notices %}
            <tr >
                <td>{{ loop.index + (pagination.current_page - 1) * pagination.records_per_page }}</td>
                <td>
                    <a href="/consult/user_notice{{notice.id}}">{{ notice.title }}</a>
                </td>
                <td>{{ notice.writer }}</td>
                <td>{{ notice.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<form>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not pagination.has_previous_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/consult/user_notice/{{pagination.first_page}}">
                        맨 처음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_previous_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/consult/user_notice/{{pagination.previous_page}}">
                        이전
                    </button>
                </li>

                {% for page_num in pagination.current_page_range %}
                <li class="page-item {% if page_num == pagination.current_page %}active{% endif %}">
                    <button type="submit" class="page-link" formaction="/consult/user_notice/{{page_num}}">
                        {{page_num}}
                    </button>
                </li>
                {% endfor %}

                <li class="page-item {% if not pagination.has_next_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/consult/user_notice/{{pagination.next_page}}">
                        다음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_next_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/consult/user_notice/{{pagination.last_page}}">
                        맨 끝
                    </button>
                </li>

            </ul>
        </nav>
    </div>
</form>

{% endblock %}
