{% extends "template_plan_trip.html"%}
{%block main_container%}

<form>
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <select class="form-control" name="transfer_cate">
                <option value="" {{ 'selected' if request._query_params.transfer_cate=='' else '' }}>전체</option>
                <option value="car" {{ 'selected' if request._query_params.transfer_cate=='bus' else '' }}>렌트카</option>
                <option value="bus" {{ 'selected' if request._query_params.transfer_cate=='bus' else '' }}>버스</option>
                <option value="plane" {{ 'selected' if request._query_params.transfer_cate=='plane' else '' }}>비행기
                </option>
                <option value="train" {{ 'selected' if request._query_params.transfer_cate=='train' else '' }}>기차
                </option>
            </select>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary" formaction="/plan_trip/reserve_transfer/"
                formmethod="get">검색</button>
        </div>
        <div class="row justify-content-center">
            <button class="col-2 m-2 mt-5 mb-2" formaction="/" class="">뒤로가기</button>
            <button class="col-2 m-2 mt-5 mb-2" formaction="/plan_trip/reserve_dorm/" class="">건너뛰기</button>
            <button class="col-2 m-2 mt-5 mb-2" formaction="/plan_trip/reserve_dorm/" type="submit" class="">다음</button>
        </div>

        <div class="selector_box">
            <div class="border d-flex justify-content-end"><select id="">
                    <option>selector</option>
                    <option value="0">낮은가격순</option>
                    <option value="1">높은가격순</option>
                    <option value="2">낮은별점순</option>
                    <option value="3">높은별점순</option>
                    <option value="4">가장 가까운 거리순</option>
                </select></div>
        </div>
</form>
{%for dict_total in total_list%}
{% if dict_total.transfer_cate == "plane" %}
<div class="row mb-2">
    <div class="col-md-3" style="border-style: ridge;">
        <img src={{dict_total.airport_image}} alt="Tour Image" style="width: 70%;">
    </div>
    <div class="col-md-9" style="border-style: ridge;">
        <div class="row justify-content-between">
            <div class="airport_date_info col-md-6">
                <h2>{{dict_total.airport_time}}</h1>
            </div>
            <div class="airport_price_info col-md-3">
                <em style="font-size:x-large;">{{dict_total.airport_price}}</em>
            </div>
        </div>
        <div class="row justify-content-between">
            <h6 class="col-md-6" style="border-style: none;">{{dict_total.airport_name}}</h3>
                <div class="col-md-4 justify-content-end row">
                    <button id="addButton" class="btn btn-primary col" formaction="/plan_trip/reserve_transfer/" name="transfer_id"
                        value={{dict_total.id}} formmethod="get"> 예약 내역에 추가</button>
                </div>
        </div>
    </div>
</div>
{% elif dict_total.transfer_cate == "car" %}
<div class="row mb-2">
    <div class="col-md-3" style="border-style: ridge;">
        <img src={{dict_total.car_image}} alt="Tour Image" style="width: 100%;">

    </div>
    <div class="col-md-9" style="border-style: ridge;">
        <div class="row justify-content-between">
            <div class="rentcar_date_info col-md-6">
                <h1>{{dict_total.store_name}}</h1>
            </div>
            <div class="rentcar_price_info col-md-3">
                <em style="font-size:x-large;">{{dict_total.car_price}}</em>
            </div>
        </div>
        <div class="row justify-content-between">
            <h3 class="col-md-4" style="border-style: ridge;">{{dict_total.car_name}}</h3>
            <div class="col-md-4 justify-content-end row">
                <button id="addButton" class="btn btn-primary col" formaction="/plan_trip/reserve_transfer/" name="transfer_id"
                value={{dict_total.id}} formmethod="get"> 예약 내역에 추가</button>
    </div>
        </div>
    </div>
</div>
{% elif dict_total.transfer_cate == "train" %}
<div class="row">
    <div class="col-md-3" style="border-style: ridge;">
        <img src="\images\korail.png" alt="Tour Image" style="width: 100%;">

    </div>
    <div class="col-md-9" style="border-style: ridge;">
        <div class="row justify-content-between">
            <div class="korail_info col-md-6">
                <h1>코레일</h1>
            </div>
            <div class="train_data_info col-md mb-4 mt-6">
                <div style="border-style: ridge;">출발지 : {{dict_total.train_departure}}</div>
                <div style="border-style: ridge;">출발시간 : {{dict_total.train_departure_time}}</div>
            </div>
            <div class="train_data_info col-md mb-4 mt-6">
                <div style="border-style: ridge;">도착지 : {{dict_total.train_arrival}}</div>
                <div style="border-style: ridge;">도착시간 : {{dict_total.train_arrival_time}}</div>
            </div>
            <div class="train_data_info col-md mb-4 mt-6">
                <div style="border-style: ridge;">구분 : {{dict_total.train_category}}</div>
                <div style="border-style: ridge;">열차번호 : {{dict_total.train_number}}</div>
            </div>
        </div>
        <div class="row justify-content-between">
            <!-- 금액 확인 버튼 -->
            <button type="button" class="btn btn-primary col-md-2 ms-3" onclick="openKorailPopup();">
                금액 확인
            </button>
            <script>
                function openKorailPopup() {
                    var url = "https://www.letskorail.com/ebizprd/EbizPrdTicketPr11121_i1.do?&txtRtnDvCd=N&txtChtrDvCd1=1&txtTrnClsfCd1=00&txtTrnGpCd1=100&txtDptRsStnCd1=0001&txtArvRsStnCd1=0020&txtRunDt1=20240120&txtTrnNo1=00001&txtStndSeatCnt1=000112&txtFreeSeatCnt1=-00001";
                    var windowFeatures = "menubar=yes,location=yes,resizable=yes,scrollbars=yes,status=yes";
                    window.open(url, "_blank", windowFeatures);
                }
            </script>
            <!-- 예약 내역에 추가 버튼 -->
            <div class="col-md-4 justify-content-end d-flex">
                <button id="addButton" class="btn btn-primary col" formaction="/plan_trip/reserve_transfer/" name="transfer_id"
                value={{dict_total.id}} formmethod="get"> 예약 내역에 추가</button>
    </div>
        </div>
    </div>
</div>
{% elif dict_total.transfer_cate == "bus" %}
<div class="row">
    <div class="col-md-3" style="border-style: ridge;">
        <img src="\images\bus.jpg" alt="Tour Image" style="width: 100%; height: 100%">

    </div>
    <div class="col-md-9" style="border-style: ridge;">
        <div class="row justify-content-between">
            <div class="korail_info col-md-6">
                <h1>고속버스</h1>
            </div>
            <div class="train_data_info col-md mb-4 mt-6">
                <div style="border-style: ridge;">출발지 : {{dict_total.bus_departure}}</div>
                <div style="border-style: ridge;">도착지 : {{dict_total.bus_arrival}}</div>
                <div style="border-style: ridge;">출발시간 : {{dict_total.index}}</div>
            </div>
        </div>
        <div class="row justify-content-between">
            <!-- 금액 확인 버튼 -->
            <div class="col-md-4 ms-3">
                <div>성인 요금 : {{dict_total.charge_adult}}</div>
                <div>초등생 요금 : {{dict_total.charge_child}}</div>
                <div>중고등 요금 : {{dict_total.charge_youth}}</div>
            </div>
            <!-- 예약 내역에 추가 버튼 -->
            <div class="col-md-4 justify-content-end d-flex">
                <button id="addButton{{loop.index}}" class="btn btn-primary col" formaction="/plan_trip/reserve_transfer/" name="transfer_id"
                value={{dict_total.id}} formmethod="get"> 예약 내역에 추가</button>
    </div>
        </div>
    </div>
</div>


{%endif%}
{%endfor%}
<form>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not pagination.has_previous_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_transfer/{{pagination.first_page}}">
                        맨 처음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_previous_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_transfer/{{pagination.previous_page}}">
                        이전
                    </button>
                </li>

                {% for page_num in pagination.current_page_range %}
                <li class="page-item {% if page_num == pagination.current_page %}active{% endif %}">
                    <button type="submit" class="page-link" formaction="/plan_trip/reserve_transfer/{{page_num}}">
                        {{page_num}}
                    </button>
                </li>
                {% endfor %}

                <li class="page-item {% if not pagination.has_next_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_transfer/{{pagination.next_page}}">
                        다음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_next_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_transfer/{{pagination.last_page}}">
                        맨 끝
                    </button>
                </li>

            </ul>
        </nav>
    </div>
</form>

<div class="row justify-content-end">
    <div class="col-2 position-fixed top-40 end-0 mb-3 ms-3 bd-mode-toggl" style="top: 30%;">
        <ul id="itemList" class="list-group">
            <li class="list-group-item list-group-item-primary">가격 비교하기</li>
          </ul>
    </div>
</div>
<script>
    var totalList = '{{ total_list}}';
    // addButton 요소를 가져옵니다.
    var addButton = document.getElementById("addButton");

    // itemList 요소를 가져옵니다.
    var itemList = document.getElementById("itemList");

    for (var i = 1; i <= totalList.length; i++) {
  var buttonId = "addButton" + i;
  var button = document.getElementById(buttonId);

  button.addEventListener("click", function (event) {
    event.preventDefault();
    var clickedButton = event.target;
    var value = clickedButton.value;
    var newItem = document.createElement("li");
        newItem.textContent = value;
        itemList.appendChild(newItem);  });
        console.log(button);
}

    // addButton에 클릭 이벤트 리스너를 추가합니다.
</script>
{%endblock%}