{% extends "template_plan_trip.html"%}
{%block main_container%}
<form action="">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <select class="form-control" name="dorm_cate">
                <option value="" {{ 'selected' if request._query_params.dorm_cate=='' else '' }}>전체</option>
                <option value="hotel" {{ 'selected' if request._query_params.dorm_cate=='hotel' else '' }}>호텔</option>
                <option value="motel" {{ 'selected' if request._query_params.dorm_cate=='motel' else '' }}>모텔</option>
                <option value="guest_house" {{ 'selected' if request._query_params.dorm_cate=='guest_house' else '' }}>
                    게스트하우스
                </option>
            </select>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary" formaction="/plan_trip/reserve_dorm/"
                formmethod="get">검색</button>
        </div>

    </div>
    <div class="row justify-content-center">
        <button class="col-2 m-2 mt-5 mb-2" formaction="/plan_trip/reserve_transfer/" class="">뒤로가기</button>
        <button class="col-2 m-2 mt-5 mb-2" formaction="/plan_trip/reserve_tour/" class="">건너뛰기</button>
        <button class="col-2 m-2 mt-5 mb-2" formaction="/plan_trip/reserve_tour/" type="submit" class="">다음</button>
    </div>
    <div class="selector_box">
        <div class="border d-flex justify-content-end"><select id="">
                <option>selector</option>
                <option value="0">낮은가격순</option>
                <option value="1">높은가격순</option>
                <option value="2">가장 가까운 거리순</option>
            </select></div>
    </div>
    {%for dict_dorm in list_dorm%}
    <div class="row align-items-stretch mb-3" style="border: 1px solid #555; border-radius: 15px; height: 70%;">
        <div class="col-md-3" style="border-right: 1px solid #555;">
            <img src="{{dict_dorm.dorm_image}}" alt="Dorm Image" class="img-fluid" style="width: 100%; height: auto;">
        </div>
        <div class="col-md-9 d-flex flex-column justify-content-center">
            <div class="mb-2" style="margin-top: -10px;">{{dict_dorm.dorm_cate}}</div> <!-- 위로 이동 -->
            <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h2>{{dict_dorm.dorm_name}}</h2>
                <h2>{{dict_dorm.dorm_price}}</h2>
            </div>

            <div class=" justify-content-between row">
                <div class="col-md-4" style="margin-top: 10px;">{{dict_dorm.dorm_address}}</div> <!-- 아래로 이동 -->
                <button id="addButton" class="btn btn-primary col-md-3"> 예약 내역에 추가</button>
            </div>
        </div>
    </div>
    {%endfor%}
    <div>
        <h2>normal paginations 총 수: {{pagination.total_records}}</h2>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not pagination.has_previous_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{pagination.first_page}}">
                        맨 처음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_previous_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{pagination.previous_page}}">
                        이전
                    </button>
                </li>

                {% for page_num in pagination.current_page_range %}
                <li class="page-item {% if page_num == pagination.current_page %}active{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{page_num}}">
                        {{page_num}}
                    </button>
                </li>
                {% endfor %}

                <li class="page-item {% if not pagination.has_next_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{pagination.next_page}}">
                        다음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_next_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{pagination.last_page}}">
                        맨 끝
                    </button>
                </li>

            </ul>
        </nav>
    </div>
</form>
<div class="row justify-content-end">
    <div class="col-2 position-fixed top-40 end-0 mb-3 ms-3 bd-mode-toggl" style="top: 30%;">
        <ul id="itemList" class="list-group">
            <li class="list-group-item list-group-item-primary">가격 비교하기</li>
          </ul>
    </div>
</div>
<script>
    // addButton 요소를 가져옵니다.
    var addButton = document.getElementById("addButton");

    // itemList 요소를 가져옵니다.
    var itemList = document.getElementById("itemList");

    // addButton에 클릭 이벤트 리스너를 추가합니다.
    addButton.addEventListener("click", function (event) {
        event.preventDefault(); // 이벤트의 기본 동작을 중단시킵니다.

        var newItem = document.createElement("li");
        newItem.textContent = "새로운 항목";
        itemList.appendChild(newItem);
    });
</script>
{%endblock%}