{% extends "template_plan_trip.html"%}
{%block main_container%}
<form action="">
    <div class="row justify-content-center mt-5">
        <div class="col-6">
            <select class="form-control" name="dorm_cate">
                <option value="" {{ 'selected' if request._query_params.dorm_cate=='' else '' }}>전체</option>
                <option value="hotel" {{ 'selected' if request._query_params.dorm_cate=='hotel' else '' }}>호텔</option>
                <option value="motel" {{ 'selected' if request._query_params.dorm_cate=='motel' else '' }}>모텔</option>
                <option value="guest_house" {{ 'selected' if request._query_params.dorm_cate=='guest_house' else '' }}>
                    게스트하우스
                </option>
            </select>
        </div>
        <div class="col-1">
            <button type="submit" class="btn btn-primary" formaction="/plan_trip/reserve_dorm/"
                formmethod="get">검색</button>
        </div>

    </div>
    <div class="row justify-content-center">
        <button class="col-2 m-2 mt-5 mb-2" formaction="/plan_trip/reserve_transfer/" class="">뒤로가기</button>
        <button class="col-2 m-2 mt-5 mb-2" formaction="/plan_trip/reserve_tour/" class="">건너뛰기</button>
        <button class="col-2 m-2 mt-5 mb-2" formaction="/plan_trip/reserve_tour/" type="submit" class="">다음</button>
    </div>
    <div class="selector_box">
        <div class="border d-flex justify-content-end"><select id="">
                <option>selector</option>
                <option value="0">낮은가격순</option>
                <option value="1">높은가격순</option>
                <option value="2">가장 가까운 거리순</option>
            </select></div>
    </div>
    {%for dict_dorm in list_dorm%}
    <div class="row align-items-stretch mb-3" style="border: 1px solid #555; border-radius: 15px; height: 70%;">
        <div class="col-md-3" style="border-right: 1px solid #555;">
            <img src="{{dict_dorm.dorm_image}}" alt="Dorm Image" class="img-fluid" style="width: 100%; height: auto;">
        </div>
        <div class="col-md-9 d-flex flex-column justify-content-center">
            <div class="mb-2" style="margin-top: -10px;">{{dict_dorm.dorm_cate}}</div> <!-- 위로 이동 -->
            <div class="d-flex justify-content-between align-items-baseline mb-2">
                <h2>{{dict_dorm.dorm_name}}</h2>
                <h2>{{dict_dorm.dorm_price}}</h2>
            </div>

            <div class=" justify-content-between row">
                <div class="col-md-4" style="margin-top: 10px;">{{dict_dorm.dorm_address}}</div> <!-- 아래로 이동 -->
                <button id="addButton{{loop.index}}" formaction="/plan_trip/reserve_dorm/"
                    class="btn btn-primary col-md-3"
                    value="{{dict_dorm.dorm_name}}/{{dict_dorm.dorm_cate}}/{{dict_dorm.dorm_address}}/{{dict_dorm.dorm_price}}/{{dict_dorm.id}}"
                    formmethod="get"> 가격 비교하기</button>
            </div>
        </div>
    </div>
    {%endfor%}
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not pagination.has_previous_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{pagination.first_page}}">
                        맨 처음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_previous_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{pagination.previous_page}}">
                        이전
                    </button>
                </li>

                {% for page_num in pagination.current_page_range %}
                <li class="page-item {% if page_num == pagination.current_page %}active{% endif %}">
                    <button type="submit" class="page-link" formaction="/plan_trip/reserve_dorm/{{page_num}}">
                        {{page_num}}
                    </button>
                </li>
                {% endfor %}

                <li class="page-item {% if not pagination.has_next_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{pagination.next_page}}">
                        다음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_next_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/plan_trip/reserve_dorm/{{pagination.last_page}}">
                        맨 끝
                    </button>
                </li>

            </ul>
        </nav>
    </div>
    <div class="row justify-content-end">
        <div class="col-3 position-fixed top-40 end-0 mb-3 ms-3 ml-3 bd-mode-toggl" style="top: 30% ;width: 20%">
            <li class="list-group-item list-group-item-primary">가격 비교하기</li>
            <div class="scrollable-box-list" style="height: 50%;">
                <ul id="itemList" class="list-group scrollarea">
                    {%for check_element in check_dorm%}
                    <li class="list-group-item">
                        <input type="hidden" value={{check_element.id}} name={{loop.index}}>
                        <div class="row">
                            <div class="col">이름 : {{check_element.dorm_name}}</div>
                        </div>
                        <div class="row">
                            <div class="col-6">유형 : {{check_element.dorm_cate}}</div>
                            <div class="col-6">위치 : {{check_element.dorm_address}}</div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <h4>가격 : {{check_element.dorm_price}}</h4>
                            </div>
                            <div class="col-4"><button class="btn btn-primary">빼기</button></div>
                        </div>
                    </li>
                    {%endfor%}
                </ul>
            </div>
            <button type="submit" class=" list-group-item" style="top: 30% ;width: 100%">예약 리스트에 추가하기</button>
        </div>
    </div>
</form>
<script>
    var totalList = '{{ list_dorm}}';
    // addButton 요소를 가져옵니다.
    var addButton = document.getElementById("addButton");
    var added_items = JSON.parse('{{ added_items | tojson | safe }}');
    // itemList 요소를 가져옵니다.
    var itemList = document.getElementById("itemList");

    for (var i = 1; i <= totalList.length; i++) {
        var buttonId = "addButton" + i;
        var button = document.getElementById(buttonId);

        button.addEventListener("click", function (event) {
            event.preventDefault();
            var clickedButton = event.target;
            var value = clickedButton.value;
            var values = value.split("/");
            // 중복 체크를 위해 리스트에 이미 해당 값이 있는지 확인합니다.
            // 중복 체크
            if (added_items.includes(values[4])) {
                return; // 이미 추가된 항목이라면 추가 중단
            }
            added_items.push(values[4]); // 배열에 항목 추가

            var newItem = document.createElement("li");
            newItem.classList.add("list-group-item");


            var firstrow = document.createElement("div");
            firstrow.classList.add("row");

            var firstrow_col1 = document.createElement("div");
            firstrow_col1.classList.add("col");
            firstrow_col1.textContent = `이름 : ${values[0]}`;
            firstrow.appendChild(firstrow_col1);

            var secondrow = document.createElement("div");
            secondrow.classList.add("row");
            var secondrow_col1 = document.createElement("div");
            secondrow_col1.classList.add("col-6");
            secondrow_col1.textContent = `유형 : ${values[1]}`;
            var secondrow_col2 = document.createElement("div");
            secondrow_col2.classList.add("col-6");
            secondrow_col2.textContent = `위치 : ${values[2]}`;

            var thirdrow = document.createElement("div");
            thirdrow.classList.add("row");
            var thirdrow_col1 = document.createElement("div");
            thirdrow_col1.classList.add("col-8");
            var thirdrow_price = document.createElement("h4");
            thirdrow_price.textContent = `가격 : ${values[3]}`;
            thirdrow_col1.appendChild(thirdrow_price);
            var deleteButton = document.createElement("button");
            deleteButton.classList.add("btn");
            deleteButton.classList.add("btn-primary");
            deleteButton.textContent = "빼기";
            deleteButton.addEventListener("click", function () {
                newItem.remove();  // 항목을 삭제합니다.
            });
            var thirdrow_col2 = document.createElement("div");
            thirdrow_col2.classList.add("col-4");
            var hidden_input = document.createElement("input");
            hidden_input.type = "hidden";
            hidden_input.value = values[4];
            hidden_input.name = added_items.length;
            newItem.appendChild(hidden_input);
            thirdrow_col2.appendChild(deleteButton);
            newItem.appendChild(firstrow);
            firstrow.appendChild(firstrow_col1);
            newItem.appendChild(secondrow);
            secondrow.appendChild(secondrow_col1);
            secondrow.appendChild(secondrow_col2);
            newItem.appendChild(thirdrow);
            thirdrow.appendChild(thirdrow_col1);
            thirdrow.appendChild(thirdrow_col2);
            itemList.appendChild(newItem);
        }
        );
        console.log(button);
    }
    // addButton에 클릭 이벤트 리스너를 추가합니다.
</script>

{%endblock%}