{% extends "template_plan_trip.html"%}
{%block main_container%}
<form>
    <div class="container row justify-content-between">
        <div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-body-tertiary col-md-auto"
            style="width: 40%; height: 100%;">
            <a href=""
                class="d-flex align-items-center flex-shrink-0 p-3 link-body-emphasis text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="30" height="24">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-5 fw-semibold">여행</span>
            </a>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="scrollable-box-list">
                            <div class="list-group list-group-flush border-bottom scrollarea">
                                {%for dict_tour in tour_list%}
                                <a href="#" class="list-group-item list-group-item-action py-3 lh-sm list-group">
                                    <div class="row justify-content-between">
                                        <div class="col-md-8">
                                            <h3>{{dict_tour.day}}일차</h3>
                                        </div>
                                        <div class="col-md-4 row justify-content-end">
                                            <button class="btn btn-primary trip_plan_button col-md-8"
                                                type="button">추가</button>
                                        </div>
                                    </div>
                                    {%for element_tour in dict_tour.tour_list%}
                                    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3"
                                        aria-current="true">
                                        <div class="d-flex gap-2 w-100 justify-content-between">
                                            <div class="col">{{element_tour}}</div>
                                            <button class="btn btn-primary trip_plan_button col-md-2"
                                                type="button">삭제</button>
                                        </div>
                                    </a>
                                    {%endfor%}
                                {%endfor%}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex-column col-md-auto" style="width: 60%;">
            <img style="width: 100%; height: 100%;" src="..\..\images\map.png" alt="지도">
        </div>
    </div>
    <hr>
    <div class="container">
        <div class="row">
            <div class="col text-right">
                <button class="btn btn-primary" formaction="/mypage/plan_list" method="">내가 찜한 여행기에
                    추가</button>
            </div>
        </div>
    </div>
</form>

<hr>
<form class="d-flex mt-3 mt-lg-0" role="search">
    <input class="form-control me-2" type="search" placeholder="ex) 1일차 여행지 검색해줘" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Search</button>
</form>
<div class="scrollable-box-search">
    <div class="list-group list-group-flush border-bottom scrollarea">
        {%for reco_add in reco_add_list%}
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <img src="https://github.com/twbs.png" alt="twbs" width="32" height="32"
                class="rounded-circle flex-shrink-0">
            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">{{reco_add.reco_list}}</h6>
                </div>
                <div class="row col-md-3">
                    <select class="form-select col-md-8" name="transfer_mem" required>
                        <option value="" disabled selected style="display: none;">추가할 날짜</option>
                        {%for dict_tour in tour_list%}
                        <option value={{dict_tour.day}}>{{dict_tour.day}}일차</option>
                        {%endfor%}
                    </select>
                    <button class="btn btn-primary button-sm col-md-4" type="submit">추가</button>
                </div>
            </div>
        </a>
        {%endfor%}
    </div>
</div>
{%endblock%}