{% extends "template.html"%}



{% block main_container %}
<h1>{{ notices.title }}</h1>

<div class="col-md-12">
    <div class="col-md-12">
        <form>
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" placeholder="제목을 입력하세요" value="{{ notices.title }}">
            </div>
            <div class="form-group">
                <label for="author"> 작성자 </label>
                <input type="text" class="form-control" id="author" placeholder="작성자를 입력하세요" value="{{ notices.writer }}">
            </div>
            <div class="form-group">
                <label for="date"> 작성일자 </label>
                <input type="text" class="form-control" id="date" placeholder="작성일자를 입력하세요" value="{{ notices.date }}">
            </div>
            <div class="form-group">
                <label for="content"> 내용 </label>
                <textarea rows="10" class="form-control" id="content" placeholder="내용을 입력하세요">{{ notices.content }}</textarea>
            </div>
        </form>
        <table class="table">
            <tr>
                <th>
                    <div class="d-flex justify-content-start">
                        <a href="/admin/notice" role="button" class="btn btn-primary me-2">취소</a>
                        <button type="button" class="btn btn-success me-2" id="btn-save">수정</button>
                    </div>       
                </th>
                <th class="text-end">
                    <a href="/admin/notice" role="button" class="btn btn-danger">삭제</button>
                </th>
                
            </tr>
        </table>
    </div>
</div>
{% endblock %}