{% extends "template.html" %}


{% block main_container %}
<h1 class="mt-5 mb-4">회원 관리(관리자 페이지)</h1>
<div ckass="container my-3">
    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>번호</th>
                <th>이메일</th>
                <th>비밀번호</th>
                <th>닉네임</th>
                <th>생년월일</th>
                <th>휴대전화번호</th>
                <th>주소</th>
            </tr>
        </thead>
        {% for user in users %}
        <tr>
            <td>{{ loop.index + (pagination.current_page - 1) * pagination.records_per_page }}</td>
            <td>{{ user.user_email }}</td>
            <td>{{ user.user_password }}</td>
            <td>{{ user.user_name }}</td>
            <td>{{ user.user_birth }}</td>
            <td>{{ user.user_phone_number }}</td>
            <td>{{ user.user_address }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<form>
    <div>
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                <li class="page-item {% if not pagination.has_previous_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/admin/users/{{pagination.first_page}}">
                        맨 처음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_previous_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/admin/users/{{pagination.previous_page}}">
                        이전
                    </button>
                </li>

                {% for page_num in pagination.current_page_range %}
                <li class="page-item {% if page_num == pagination.current_page %}active{% endif %}">
                    <button type="submit" class="page-link" formaction="/admin/users/{{page_num}}">
                        {{page_num}}
                    </button>
                </li>
                {% endfor %}

                <li class="page-item {% if not pagination.has_next_page %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/admin/notice/{{pagination.next_page}}">
                        다음
                    </button>
                </li>
                <li class="page-item {% if not pagination.has_next_block %}disabled{% endif %}">
                    <button type="submit" class="page-link"
                        formaction="/admin/users/{{pagination.last_page}}">
                        맨 끝
                    </button>
                </li>

            </ul>
        </nav>
    </div>
</form>

{% endblock %}