{% extends "template.html"%}



{% block main_container %}

<div class="row" style="margin-top: 10%; margin-bottom: 10%;">
    <div class="col-4">
        <h3 style="margin: 20px;">마이페이지</h3>
        <ul class="list-unstyled">
            <form class="row justify-contentt-start" style="margin-left: 10px; margin-top: 50px;">
                <li>
                    <button class="col-9 themed-grid-col btn btn-light" style="font-size: 15px; margin: 10px;"
                        formaction="/mypage/info" method="">개인정보수정</button>
                </li>
                <li>
                    <button class="col-9 themed-grid-col btn btn-light" style="font-size: 15px; margin: 10px;"
                        formaction="/mypage/insert_plan" method="">나의 여행계획 관리</button>
                </li>
                <li>
                    <button class="col-9 themed-grid-col btn btn-light" style="font-size: 15px; margin: 10px;"
                        formaction="/mypage/plan_list" method="">나의 여행후기 관리</button>
                </li>
                <li>
                    <button class="col-9 themed-grid-col btn btn-light" style="font-size: 15px; margin: 10px;"
                        formaction="/mypage/plan_list" method="">내가 찜한 여행기</button>
                </li>
                <li>
                    <button class="col-9 themed-grid-col btn btn-light" style="font-size: 15px; margin: 10px;"
                    formaction="/mypage/reserve_list" method="">예약내역</button>
                </li>
            </form>
        </ul>
    </div>

    <div class="col-8">
        <h2>나의 여행계획 관리</h2>
        <form>
            <div class="" style="margin-top: 50px; margin-bottom: 50px;">

                <h1>파업했습니다</h1>
                <h2>저를</h2>
                <h3>찾지마세요</h3>
                <h1>ㅇㅅㅇ</h1>
                <div></div>
                <div></div>
            </div>
        </form>
    </div>
</div>

{% endblock %}
