{% extends "template.html" %}

{% block main_container %}
<style>
    .fas.fa-trash {
        color: #ff7e79;
        font-size: 20px; /* 휴지통 아이콘 크기 변경 */
    }
    .rounded-panel {
    border-radius: 18px;
    }
</style>

<div class="container-fluid" style="margin-top: 5%;">
    <div class="row">
        <div class="col-md-3">
            <h3 style="margin-bottom: 20px;">마이페이지</h3>
            <ul class="list-unstyled">
                <li>
                    <button class="btn btn-light" style="font-size: 15px; margin-bottom: 10px; width: 100%;"
                        formaction="/mypage/info">개인정보수정</button>
                </li>
                <li>
                    <button class="btn btn-light" style="font-size: 15px; margin-bottom: 10px; width: 100%;"
                        formaction="/mypage/insert_plan">나의 여행계획 관리</button>
                </li>
                <li>
                    <button class="btn btn-light" style="font-size: 15px; margin-bottom: 10px; width: 100%;"
                        formaction="/mypage/plan_list_review">나의 여행 후기 관리</button>
                </li>
                <li>
                    <button class="btn btn-light" style="font-size  : 15px; margin-bottom: 10px; width: 100%;"
                        formaction="/mypage/plan_list">내가 찜한 여행기</button>
                </li>
                <li>
                    <button class="btn btn-light" style="font-size: 15px; margin-bottom: 10px; width: 100%;"
                        formaction="/mypage/reserve_list">예약내역</button>
                </li>
            </ul>
        </div>
        <div class="col-md-8 offset-md-1">
            <h2>나의 여행계획 관리</h2>
            <div class="rounded-panel" style="border: 1px solid #ccc; padding: 20px; margin-bottom: 20px;">
                <div style="display: flex; align-items: center; position: relative;">
                    <div class="image-preview"
                        style="flex: 0 0 200px; height: 200px; width: 200px; background-color: #f0f0f0; margin-right: 20px;">
                        이미지 미리보기</div>
                    <div style="flex: 1; border-left: 1px solid #ccc; padding-left: 20px; margin-bottom: 20px;">
                        <div><strong>여행기 제목: </strong>부산 여행 <span style="float: right;" class="fas fa-trash"></span>
                        </div>
                        <div style="border-top: 1px solid #ccc; margin: 20px 0;"></div>
                        <div><strong>여행기 테마: </strong>식도락 여행</div>
                        <div style="border-top: 1px solid #ccc; margin: 20px 0;"></div>
                        <div><strong>여행기 작성 날짜: </strong>2023-03-15</div>
                        <div style="text-align: right;">
                            <button class="btn btn-primary btn-sm"
                                style="position: absolute; bottom: 20px; right: 20px;">계획 보러가기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}