{% extends "template.html"%}
{%block main_container%}



<div class="row" style="text-align: center; margin-top: 20%; margin-bottom: 20%;">
    <h1>마이 페이지</h1>
    <div>
        <form>
            <button class="col-md-3 themed-grid-col btn btn-primary" style="font-size: 15px; height: 100px;"
                formaction="/mypage/info/" method="get">개인정보수정</button>
        </form>
    </div>

    <br>
    <div>

        <form>
            <button class="col-md-3 themed-grid-col btn btn-primary" style="font-size: 15px ; height: 100px;"
                formaction="/mypage/insert_plan" method="post">나의 여행계획 관리</button>
        </form>
    </div>

    <br>
    <div>

        <form>

            <button class="col-md-3 themed-grid-col btn btn-primary" style="font-size: 15px ; height: 100px;"
                formaction="/mypage/plan_list" method="post">나의 여행 후기 관리</button>
        </form>
    </div>

    <br>
    <div>

        <form>

            <button class="col-md-3 themed-grid-col btn btn-primary" style="font-size: 15px ; height: 100px;"
                formaction="/mypage/plan_list" method="post">내가 찜한 여행기</button>
        </form>
    </div>

    <br>
    <div>
        <form>
            <button class="col-md-3 themed-grid-col btn btn-primary" style="font-size: 15px ; height: 100px;"
                formaction="/mypage/reserve_list" method="post">예약 내역</button>

            <!-- <div>
            <button class="col-md-3 themed-grid-col btn btn-primary" style="font-size: 15px ; height: 100px;"
                formaction="" method="post">예약내역</button>
        </div> -->
        </form>
    </div>

</div>
{%endblock%}