{% extends "template.html"%}



{% block main_container %}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    .container {
        min-width: 1000px;
        width: 95%;
    }

    .image-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: center;
        margin-top: 30px;
        margin-left: 5px;
    }

    .screen {
        position: relative;
        overflow: hidden;

    }

    .screen .top {
        position: absolute;
        bottom: 150%;
        left: 30px;
        z-index: 2;
        color: #fff;
        font-size: 26px;
        font-weight: 900;
        transition: all .45s;
    }

    .screen:hover .top {
        bottom: 52%;
    }

    .screen .bottom {
        position: absolute;
        top: 150%;
        left: 30px;
        z-index: 2;
        color: #fff;
        font-size: 12px;
        transition: all .45s;
    }

    .screen:hover .bottom {
        top: 52%;
    }

    .screen::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5);
        z-index: 1;
        opacity: 0;
        transition: all .35s;
    }

    .screen:hover::after {
        opacity: 1;
    }

    .image-item {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }

    @media (max-width: 1023px) {
        .image-item {
            width: calc(33.33% - 20px);
            height: auto;
        }
    }

    .sidebar h3 {
        margin: 20px 0;
    }

    .sidebar ul {
        list-style-type: none;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }
</style>
<div class="container" style="margin-top: 7px; margin-bottom: 7px;">
    <div class="row justify-content-start">
        <form class="col-3 position-fixed top-40 start-0 mb-3 ms-3 ml-3 bd-mode-toggl" style="top: 30%; width: 20%">
            <ul class="list-group">
                <li class="list-group-item list-group-item-primary">마이페이지</li>
                <div class="scrollable-box-list" style="height: 50%;">
                    <ul id="mypageList" class="list-group scrollarea">
                        <li class="list-group-item">
                            <button class="btn btn-light btn-block" formaction="/mypage/info" method="">개인정보수정</button>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-light btn-block" formaction="/mypage/insert_plan" method="">나의 여행계획 관리</button>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-light btn-block" formaction="/mypage/plan_list" method="">나의 여행 후기 관리</button>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-light btn-block" formaction="/mypage/plan_list" method="">내가 찜한 여행기</button>
                        </li>
                        <li class="list-group-item">
                            <button class="btn btn-light btn-block" formaction="/mypage/reserve_list" method="">예약내역</button>
                        </li>
                    </ul>
                </div>
            </ul>
        </form>
    </div>
    
        <div class="col-8">
            <h2 class="mt-4">나의 여행 후기 관리</h2>
            <form class="mb-4">
                <div class="container">
                    <div class="image-list">
                        <a href="" class="screen">
                            <div class="top">포항</div>
                            <div class="bottom">2023.01.01</div>
                            <img src="https://i.pinimg.com/564x/f2/4f/e1/f24fe1896f3228714cfdb8c7e9d2e41e.jpg" alt="img-3" class="image-item">
                        </a>
                        <a href="" class="screen">
                            <div class="top">경주</div>
                            <div class="bottom">2023.04.08</div>
                            <img src="https://i.pinimg.com/564x/cc/ed/37/cced37272e6f5ee5f9fd86ee658e7fea.jpg" alt="img-3" class="image-item">
                        </a>
                        <a href="" class="screen">
                            <div class="top">부산</div>
                            <div class="bottom">2023.04.16</div>
                            <img src="https://i.pinimg.com/564x/e1/dc/92/e1dc92f6587937a7b845a94baf50f0fb.jpg" alt="img-2" class="image-item">
                        </a>
                        <a href="" class="screen">
                            <div class="top">제주도</div>
                            <div class="bottom">2023.08.13</div>
                            <img src="https://i.pinimg.com/564x/c8/1d/a0/c81da0fa77c56f7f9bf6a87cd995e94a.jpg" alt="img-3" class="image-item">
                        </a>
                        <a href="" class="screen">
                            <div class="top">부산</div>
                            <div class="bottom">2023.9.25</div>
                            <img src="https://i.pinimg.com/564x/31/1b/70/311b700f1d32e577830fe9eef510691a.jpg" alt="img-3" class="image-item">
                        </a>
                        <a href="" class="screen">
                            <div class="top">서울</div>
                            <div class="bottom">2023.10.21</div>
                            <img src='https://i.pinimg.com/564x/74/35/a9/7435a9eb672107de18516dd10dd50ffc.jpg' alt="img-1" class="image-item">
                        </a>
                        <a href="" class="screen">
                            <div class="top">담양</div>
                            <div class="bottom">2023.11.05</div>
                            <img src="https://i.pinimg.com/564x/5a/13/a7/5a13a7252f5d6f583b6b584f8dae1c86.jpg" alt="img-3" class="image-item">
                        </a>
                        <a href="" class="screen">
                            <div class="top">강원도</div>
                            <div class="bottom">2023.12.24</div>
                            <img src="https://i.pinimg.com/564x/d2/72/f1/d272f19d225f573487e2a2e323a60d49.jpg" alt="img-3" class="image-item">
                        </a>
                        <a href="" class="screen">
                            <div class="top">강원도</div>
                            <div class="bottom">2024.01.20</div>
                            <img src="/images/pictures3.jpg" alt="img-3" class="image-item">
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}