{% extends "template.html"%}



{% block main_container %}
<div class="row">
    <h1 class=" col-3 container p-2 my-3 border text-center">Community</h1>
    <div class="col-8"></div>
</div>
<div class="container p-5 my-3 border">
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" style="font-weight: bold;">여행지 : </h1>
        <div class="col-md-5">
            <div class="row justify-content-end">
                <div class="col-md-5 border community-content">작성자 : </div>
                <div class="col-md-5 border community-content">좋아요 수 : </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" style="font-weight: bold;">여행 컨셉 : </h1>
        <h1 class="col-md-5 border community-content" style="font-weight: bold;">여행 날짜 : </h1>
    </div>
    <div class="row border">
        <h1 class="community-content" style="font-weight: bold;">여행기 한 줄 요약 : </h1>
    </div>
</div>
<div class="container p-5 my-4 border">
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" style="font-weight: bold;">여행지 : </h1>
        <div class="col-md-5">
            <div class="row justify-content-end">
                <div class="col-md-5 border community-content">작성자 : </div>
                <div class="col-md-5 border community-content">좋아요 수 : </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" style="font-weight: bold;">여행 컨셉 : </h1>
        <h1 class="col-md-5 border community-content" style="font-weight: bold;">여행 날짜 : </h1>
    </div>
    <div class="row border">
        <h1 class="community-content" style="font-weight: bold;">여행기 한 줄 요약 : </h1>
    </div>
</div>
<div class="container p-5 my-4 border">
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" style="font-weight: bold;">여행지 : </h1>
        <div class="col-md-5">
            <div class="row justify-content-end">
                <div class="col-md-5 border community-content">작성자 : </div>
                <div class="col-md-5 border community-content">좋아요 수 : </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" style="font-weight: bold;">여행 컨셉 : </h1>
        <h1 class="col-md-5 border community-content" style="font-weight: bold;">여행 날짜 : </h1>
    </div>
    <div class="row border">
        <h1 class="community-content" style="font-weight: bold;">여행기 한 줄 요약 : </h1>
    </div>
</div>
{% endblock %}