{% extends "template.html"%}



{% block main_container %}
<style>
    .container.p-5 {
        border: none;
        border-radius: 12px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        padding: 10px;
    }

    .community-content {
        padding: 6px;
        border: 1px none #dee2e6;
        border-radius: 4px;
    }

    .community-content.font-weight-bold {
        font-weight: bold;
    }
</style>
<div class="container-fluid mt-5 mb-5">
    <h1 class="text-center mb-4 pb-2 border-bottom">Community</h1>

<div class="container p-5 my-3 border">
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" >여행지 : </h1>
        <div class="col-md-5">
            <div class="row justify-content-end">
                <div class="col-md-5 border community-content">작성자 : </div>
                <div class="col-md-5 border community-content">좋아요 수 : </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" >여행 컨셉 : </h1>
        <h1 class="col-md-5 border community-content" >여행 날짜 : </h1>
    </div>
    <div class="row border">
        <h1 class="community-content" >여행기 한 줄 요약 : </h1>
    </div>
</div>
<div class="container p-5 my-4 border">
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" >여행지 : </h1>
        <div class="col-md-5">
            <div class="row justify-content-end">
                <div class="col-md-5 border community-content">작성자 : </div>
                <div class="col-md-5 border community-content">좋아요 수 : </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" >여행 컨셉 : </h1>
        <h1 class="col-md-5 border community-content" >여행 날짜 : </h1>
    </div>
    <div class="row border">
        <h1 class="community-content" >여행기 한 줄 요약 : </h1>
    </div>
</div>
<div class="container p-5 my-4 border">
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content" >여행지 : </h1>
        <div class="col-md-5">
            <div class="row justify-content-end">
                <div class="col-md-5 border community-content">작성자 : </div>
                <div class="col-md-5 border community-content">좋아요 수 : </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between">
        <h1 class="col-md-6 border community-content">여행 컨셉 : </h1>
        <h1 class="col-md-5 border community-content" >여행 날짜 : </h1>
    </div>
    <div class="row border">
        <h1 class="community-content" >여행기 한 줄 요약 : </h1>
    </div>
</div>
{% endblock %}