{% extends "template.html"%}
{% block main_container %}
<div class="row" style="text-align: center; margin-top: 20%; margin-bottom: 20%;">
    <form class="myForm">
        <img class="mb-4" src="" alt="로고" width="72" height="57">
        <h1 class="row justify-content-center h3 mb-3 fw-normal ">로그인</h1>
        <br>
        <div class="row mb-3 text-center">
            <div class="col-md-3 themed-grid-col">
                <div class="row">
                    <input type="text" style="font-size: 20px; padding: 3px" readonly
                        class="form-control-plaintext text-center" value="ID">
                    <input type="text" style="font-size: 20px; padding: 3px" readonly
                        class="form-control-plaintext text-center" value="PW">
                </div>
            </div>
            <div class="col-md-6 themed-grid-col">
                <div class="row">
                    <input type="email" class="form-control col-12" id="input_email" placeholder="name@example.com"
                        name="login_email">
                    <input type="password" class="form-control col-12" id="input_password" placeholder="Password"
                        name="login_password">
                </div>
            </div>
            <div class="col-md-2 themed-grid-col">
                <button class="col-md-12 themed-grid-col btn btn-primary"
                    style="font-size: 20px; padding: 20px; width: 200px" formaction="/login_check" formmethod="post">Login</button>
            </div>
            <br>
            <div>
                <button class="col-md-3 themed-grid-col btn btn-light" style="font-size: 15px">ID/PW 찾기</button>
                <button class="col-md-3 themed-grid-col btn btn-light" style="font-size: 15px" formaction="/insert"
                    method="GET">회원가입</button>
            </div>
        </div>
        <p class="mt-5 mb-3 text-body-secondary">© 2017–2023</p>
    </form>
</div>
{% endblock %}